* {
  padding: 0rem;
  height: 0rem;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #181818;
}

#aboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 43.7rem;
  overflow: hidden;
  background: repeating-linear-gradient(7deg, black, transparent 415px);
  /* border: 1px solid red; */
}

#aboutContainerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 72.1rem;
  height: 35rem;
  /* border: 1px solid blue; */
}

/* About left */
.aboutLeft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 27rem;
  height: 35rem;
  /* border: 1px solid white; */
}

.aboutLeft div {
  background: url("../Icons/pj-6.jpg") center center/cover;
  width: 21.87rem;
  height: 27.85rem;
  border-left: 0.31rem solid grey;
  border-radius: 0rem 1.87rem 1.87rem 0rem;
}

/* About Right */
.aboutRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 45rem;
  height: 35rem;
  /* border: 1px solid yellow; */
}

/* About Right Top */
.aboutRightTop {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 10.62rem;
  width: 45rem;
}

.aboutHeading {
  font-size: 3.12rem;
  color: darkgray;
  height: 3.4rem;
  width: 45rem;
}

.aboutPara {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.094rem;
  margin-top: 0.93rem;
  color: grey;
  word-spacing: 0.18rem;
  text-align: justify;
  line-height: 1.43rem;
  height: 6rem;
  width: 45rem;
}

/* About Right Bottom */
.aboutRightBottom {
  display: flex;
  flex-direction: column;
  height: 15.12rem;
  width: 45rem;
}

.aboutRightBottom hr {
  margin-top: 0.4rem;
  width: 45rem;
}

/* About Navbar */
.aboutNav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.87rem;
  background: transparent;
  width: 45rem;
  border-bottom: 0.06rem solid grey;
}

.aboutNav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 45rem;
  height: 2.87rem;
}

.aboutNav ul li {
  width: fit-content;
  height: 1rem;
}

.aboutNav ul li a {
  color: grey;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  background: none;
  border: none;
}

.aboutNav ul li a.active {
  color: #a33f3f;
}

/* Skill Section */
.skillBox {
  display: flex;
  flex-direction: column;
  color: grey;
  height: 15.62rem;
  width: 45rem;
}

.skillBox .aboutSkills {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 12.12rem;
  width: 45rem;
}

.aboutSkills p {
  display: flex;
  align-items: center;
  height: 2rem;
  width: fit-content;
}

.aboutHeads {
  display: flex;
  align-items: center;
  /* color: #5f6163; */
  color: #c4e6ffab;
  font-weight: 600;
  font-size: 1.06rem;
  width: 5.5rem;
  height: 2rem;
}

.icons {
  width: 2.1rem;
  height: 2.1rem;
  margin: 0rem 0.6rem;
  background-color: #ffffff2b;
  border-radius: 0.2rem;
}

.oracle {
  width: 3rem;
  height: 2rem;
  margin: 0rem 0.7rem;
}

/* Experience Section */
.experienceBox {
  display: flex;
  flex-direction: column;
  color: grey;
}

.aboutExperience {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.25rem;
  font-size: 1.06rem;
  color: #c4e6ffab;
  font-weight: 600;
  margin-top: 0.8rem;
  height: fit-content;
}

/* Education Section */
.educationBox {
  display: flex;
  flex-direction: column;
  color: grey;
}

.aboutEducation {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: fit-content;
  height: 13.75rem;
}

.aboutEducationBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: fit-content;
  height: 3.43rem;
}

.aboutEducationBox div {
  display: flex;
  width: fit-content;
  height: 1.2rem;
}

.universityHead {
  display: inline;
  font-size: 1.06rem;
  font-weight: 600;
  color: #c4e6ffab;
  width: fit-content;
  height: 1rem;
  margin-right: 0.7rem;
}

.passYear {
  color: #474747;
  font-size: 1.06rem;
}

.degreeName {
  color: #ffcecbad;
  font-size: 0.93rem;
  width: fit-content;
  height: 1rem;
}

/* Media Query */
@media (max-width: 1200px) {
  #aboutContainerBox {
    width: 60.1rem;
    height: 26rem;
  }

  .aboutLeft {
    align-items: flex-start;
    width: 20rem;
    height: 26rem;
  }

  .aboutLeft div {
    width: 17.87rem;
    height: 23.85rem;
  }

  .aboutRight {
    justify-content: center;
    width: 40rem;
    height: 26rem;
  }

  .aboutRightTop {
    height: 10.62rem;
    width: 40rem;
  }

  .aboutHeading {
    font-size: 2.6rem;
    height: 2.7rem;
    width: 40rem;
  }

  .aboutPara {
    font-size: 1.07rem;
    line-height: 1.25rem;
    height: 6.5rem;
    width: 40rem;
  }

  .aboutRightBottom {
    flex-direction: column;
    height: 15.12rem;
    width: 40rem;
  }

  .aboutNav {
    justify-content: space-between;
    align-items: center;
    height: 2.87rem;
    width: 40rem;
  }

  .aboutNav ul {
    width: 40rem;
  }

  .skillBox {
    flex-direction: column;
    height: 15.62rem;
  }

  .skillBox .aboutSkills {
    flex-direction: column;
    justify-content: space-evenly;
    width: 40rem;
    height: 12.12rem;
  }
}

@media (max-width: 992px) {
  #aboutContainerBox {
    width: 49.1rem;
    height: 29rem;
  }

  .aboutLeft {
    width: 16.5rem;
    height: 29rem;
  }

  .aboutLeft div {
    width: 14rem;
    height: 20rem;
  }

  .aboutRight {
    justify-content: flex-start;
    width: 32rem;
    height: 29rem;
  }

  .aboutRightTop {
    height: 12.62rem;
    width: 32rem;
  }

  .aboutHeading {
    font-size: 2.6rem;
    height: 2.7rem;
    width: 32rem;
  }

  .aboutPara {
    font-size: 1.07rem;
    line-height: 1.25rem;
    height: 8.5rem;
    width: 32rem;
  }

  .aboutRightBottom {
    flex-direction: column;
    height: 16rem;
    width: 32rem;
  }

  .aboutNav {
    justify-content: space-between;
    align-items: center;
    height: 2.87rem;
    width: 32rem;
  }

  .skillBox {
    flex-direction: column;
    height: 15.62rem;
    width: 32rem;
  }

  .skillBox .aboutSkills {
    flex-direction: column;
    justify-content: space-evenly;
    height: 12.12rem;
    width: 32rem;
  }
}

@media (max-width: 768px) {
  #aboutContainer {
    flex-direction: column;
    flex-wrap: wrap;
    height: 60rem;
  }

  #aboutContainerBox {
    width: 35.1rem;
    height: 56rem;
  }

  .aboutLeft {
    align-items: flex-end;
    width: 16.87rem;
    height: 23rem;
  }

  .aboutLeft div {
    width: 16.87rem;
    height: 22.85rem;
  }

  .aboutRight {
    justify-content: center;
    align-items: center;
    width: 35.1rem;
    height: 24rem;
  }

  .aboutRightTop {
    align-items: center;
    height: 10.7rem;
    width: 35.1rem;
  }

  .aboutHeading {
    width: 35.1rem;
    font-size: 2.5rem;
    text-align: center;
  }

  .aboutPara {
    font-size: 1.1rem;
    word-spacing: 0.08rem;
    line-height: 1.4rem;
    height: 7rem;
    width: 35.1rem;
  }

  .aboutNav {
    width: 35.1rem;
  }

  .aboutRightBottom {
    height: 13rem;
    width: 35.1rem;
  }

  .skillBox {
    height: 14rem;
    font-size: 1rem;
  }

  .skillBox .aboutSkills {
    justify-content: space-evenly;
    height: 12rem;
    width: 35rem;
  }
}

@media (max-width: 600px) {
  #aboutContainer {
    flex-direction: column;
    flex-wrap: wrap;
    height: 60rem;
  }

  #aboutContainerBox {
    width: 22.1rem;
    height: 56rem;
  }

  .aboutLeft {
    align-items: center;
    height: 20rem;
    width: 14.87rem;
  }

  .aboutLeft div {
    width: 14.87rem;
    height: 19.85rem;
  }

  .aboutRight {
    justify-content: flex-start;
    align-items: center;
    width: 22rem;
    height: 29.7rem;
  }

  .aboutRightTop {
    align-items: center;
    height: 15rem;
    width: 22rem;
  }

  .aboutHeading {
    font-size: 2.5rem;
    height: 2.5rem;
    width: 22rem;
  }

  .aboutPara {
    font-size: 1rem;
    word-spacing: 0.08rem;
    line-height: 1.33rem;
    height: 11rem;
    width: 22rem;
  }

  .aboutRightBottom {
    width: 22rem;
  }

  .aboutNav {
    width: 22rem;
  }

  .aboutNav ul {
    width: 22rem;
  }

  .skillBox {
    height: 14rem;
    font-size: 0.9rem;
  }

  .skillBox .aboutSkills {
    justify-content: space-evenly;
    height: 12rem;
    width: 22rem;
  }

  .universityHead {
    font-size: 0.93rem;
  }
}
