* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}

#contactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 3.4rem;
  width: 100%;
  height: fit-content;
}

#contactContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../Icons/bg3.jpg") center / cover no-repeat;
  z-index: -1;
}

#contactContainerBox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 72.1rem;
  height: 39.6rem;
  padding: 4rem 0rem;
}

/* Contact Left */
.contactLeft {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 28rem;
  height: 100%;
  padding-left: 1rem;
}

.contactHeading {
  color: black;
  font-size: 3.12rem;
  width: 100%;
  height: 3.1rem;
  margin-bottom: 2rem;
}

.contactInfoDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  width: fit-content;
  height: 2rem;
  margin-bottom: 2rem;
  padding: 0rem 1rem;
}

.wrapIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px solid #454545;
  border-radius: 1.2rem;
  width: 2.2rem;
  height: 2.2rem;
  overflow: hidden;
}

.wrapIcon::before {
  content: "";
  position: absolute;
  top: 100%;
  background-color: none;
  width: 2.3rem;
  height: 0rem;
  transition: all 0.5s;
}

.contactInfoDiv:hover .wrapIcon::before {
  top: 0;
  background-color: #454545;
  height: 2.2rem;
}

.contactInfoDiv:hover .wrapIcon svg {
  fill: #ffffff;
  transform: rotateY(360deg);
}

.wrapIcon svg {
  width: 1.2rem;
  height: 1.2rem;
  transition: all 0.5s;
}

.contactInfoDiv a {
  color: #454545;
  font-size: 1rem;
  text-decoration: none;
  padding-left: 0.62rem;
  padding-bottom: 1rem;
}

/* Download CV */
.downloadCV {
  display: flex;
  margin: 1.56rem 0rem;
  height: fit-content;
  width: 100%;
}

.downloadCV a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  color: #454545;
  width: fit-content;
  height: 2.5rem;
  cursor: pointer;
  border: 2px solid #454545;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  padding: 0rem 1.25rem;
}

.downloadCV a:hover svg {
  width: 1.1rem;
  height: 1.1rem;
  margin-left: 0.5rem;
}

.downloadCV a > svg {
  width: 0rem;
  height: 0rem;
  margin-left: 0rem;
  transition: all 0.4s ease, all 0.4s ease;
}

/* Contact Right */
.contactRight {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 42.18rem;
  height: 21rem;
  margin-top: 5rem;
}

.contactRight form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 38.31rem;
  height: 100%;
}

.contactInfoInputDiv {
  width: 38.31rem;
  height: fit-content;
}

.contactInfoInputDiv > input {
  border: 2px solid #454545;
  background-color: transparent;
  outline: none;
  color: #454545;
  width: 100%;
  height: 3rem;
}

.contactInfoInputDiv > textarea {
  border: 2px solid #454545;
  background-color: transparent;
  outline: none;
  color: #454545;
  width: 100%;
  height: 5rem;
}

input:-internal-autofill-selected {
  background-color: transparent !important;
}

.error {
  color: red;
  width: 100%;
  font-size: 0.8rem;
  height: fit-content;
  margin-top: 0.3rem;
}

#name {
  width: 38.31rem;
  height: 3rem;
  padding-left: 0.62rem;
  font-size: 0.93rem;
  transition: all 0.5s ease-in-out;
  text-transform: capitalize;
}

#email {
  font-size: 1rem;
  font-weight: 500;
  width: 38.31rem;
  height: 3rem;
  padding-left: 0.62rem;
  transition: all 0.3s ease-in-out;
}

#massage {
  font-size: 1rem;
  font-weight: 500;
  width: 38.31rem;
  padding: 0.62rem;
  transition: all 0.3s ease-in-out;
  font-family: sans-serif;
  text-transform: capitalize;
}

#submitBtn {
  background: transparent;
  border: none;
  outline: none;
  width: fit-content;
  height: fit-content;
}

#submitBtn span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  color: #454545;
  width: fit-content;
  height: 2.5rem;
  cursor: pointer;
  border: 2px solid #454545;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  padding: 0rem 1.5rem;
}

#submitBtn:hover span > svg {
  width: 1.1rem;
  height: 1.1rem;
  margin-left: 0.8rem;
}

#submitBtn span > svg {
  width: 0rem;
  height: 0rem;
  margin-left: 0rem;
  transition: all 0.4s ease, all 0.4s ease;
}

/* Add User Submit Successfully PopUp Section*/
#popUp {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(8px);
  background-color: rgb(0 0 0 / 15%);
  position: fixed;
  top: 27%;
  left: 28%;
  width: 600px;
  height: 250px;
  border-radius: 1rem;
  font-size: 1.93rem;
}

/* #popUp::before {
  content: "";
  position: absolute;
  width: 100rem;
  height: 100rem;
  background-color: transparent;
} */

#popUp h1 {
  color: #454545;
}

#popUpBtn {
  font-size: 1rem;
  width: fit-content;
  height: 2.5rem;
  background: transparent;
  color: #454545;
  border: 2px solid #454545;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  padding: 0rem 3rem;
}
