* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  font-family: sans-serif;
}

.hamburger {
  display: none;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(black, #181818);
  width: 100%;
  height: 3.43rem;
  z-index: 1;
}

.hamburgerNav-section {
  display: none;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background: -webkit-linear-gradient(black, #181818);
  position: fixed;
  top: 0rem;
  width: 35rem;
  height: 3.43rem;
  border-bottom: 0.06rem solid #a14848;
  z-index: 2;
}

.showHamburgerBtn {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  /* outline: none; */
  border: none;
  width: 2.5rem;
  height: 2.5rem;
}

.showHamburgerBtn img {
  width: 2rem;
  height: 2rem;
}

/* HamburgerNav */
.hamburgerNav {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 3.42rem;
  width: 35rem;
  /* height: 0rem; */
  /* transition:none; */
  border-bottom: 0.06rem solid #a14848;
  z-index: 1;
}

.hamburgerNav ul {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #0e0e0ef0;
  list-style: none;
  width: 35rem;
  height: 25rem;
}

.hamburgerNav ul li {
  display: none;
  margin: 0.93rem;
  width: fit-content;
  height: 1.5rem;
}

.hamburgerNav ul li a {
  display: none;
  text-decoration: none;
  font-size: 1.063rem;
  font-weight: 600;
  color: grey;
  width: fit-content;
  height: fit-content;
}

.hamburgerNav ul li a:hover {
  color: #d9d6d6;
}

.hamburgerNav ul li a.active {
  color: #a33f3f;
}

/* .removeHamburgerNav {
  display: none;
  justify-content: center;
  align-items: center;
  right: 23%;
  position: absolute;
  top: 3%;
  width: 2rem;
  height: 2rem;
  z-index: 1;
} */

/* Media Query */
@media (max-width: 1200px) {
  .hamburger {
    display: none;
  }

  .hamburgerNav-section {
    display: none;
  }

  .hamburgerNav {
    display: none;
  }

  .hamburgerNav ul {
    display: none;
  }

  .hamburgerNav ul li {
    display: none;
  }

  .hamburgerNav ul li a {
    display: none;
  }

  .showHamburgerBtn {
    display: none;
  }
}

@media (max-width: 992px) {
  .hamburger {
    display: none;
  }

  .hamburgerNav-section {
    display: none;
  }

  .hamburgerNav {
    display: none;
  }

  .hamburgerNav ul {
    display: none;
  }

  .hamburgerNav ul li {
    display: none;
  }

  .hamburgerNav ul li a {
    display: none;
  }

  .showHamburgerBtn {
    display: none;
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .hamburgerNav-section {
    display: flex;
  }

  .hamburgerNav {
    display: flex;
  }

  .hamburgerNav ul {
    display: flex;
  }

  .hamburgerNav ul li {
    display: flex;
  }

  .hamburgerNav ul li a {
    display: flex;
  }

  .showHamburgerBtn {
    display: flex;
    margin-right: 1rem;
  }
}

@media (max-width: 600px) {
  .hamburger {
    display: flex;
  }

  .hamburgerNav-section {
    display: flex;
    width: 22.1rem;
  }

  .hamburgerNav {
    display: flex;
    width: 22.1rem;
  }

  .hamburgerNav ul {
    display: flex;
    width: 22.1rem;
  }

  .hamburgerNav ul li {
    display: flex;
  }

  .hamburgerNav ul li a {
    display: flex;
  }

  .showHamburgerBtn {
    display: flex;
    margin-right: 0.5rem;
  }
}
