* {
  box-sizing: border-box;
  padding: 0rem;
  margin: 0rem;
}

#homeContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  top: 3.4rem;
  width: 100%;
  height: fit-content;
}

#homeContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../Icons/portfolio-bg.jpg") center center / cover no-repeat;
  z-index: -1;
}

#homeContainerBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 72.1rem;
  height: 39.4rem;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 37rem;
  height: 100%;
}

.section p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  color: #4b5563;
  line-height: 1.43rem;
  height: fit-content;
  margin-top: 0.5rem;
  width: 100%;
}

.section p > svg {
  margin-right: 0.5rem;
  width: 1rem;
  height: 1rem;
}

.section p > img {
  margin-right: 0.5rem;
  width: 1rem;
  height: 1rem;
}

.openToWorkIcon {
  animation: zoomInOut 1s infinite;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.heading {
  font-size: 2.37rem;
  height: 3rem;
}

.heading::after {
  content: "|";
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.position {
  color: grey;
  font-size: 1.06rem;
  height: 1rem;
  margin-bottom: 0.2rem;
}

/* Media Query */
@media (max-width: 1200px) {
  #homeContainer {
    height: 43.7rem;
  }

  #homeContainerBox {
    width: 60.2rem;
    height: 22rem;
  }

  .section1 {
    width: 25rem;
    height: 21rem;
  }

  .heading {
    font-size: 2.2rem;
    height: 5rem;
  }

  .heading span {
    height: 2.5rem;
  }

  .heading .ownerName {
    height: 2.5rem;
  }

  .section2 {
    width: 23rem;
    height: 21rem;
  }

  .section2 div {
    width: 23rem;
    height: 21rem;
    border-radius: 0rem 0rem 3.5rem 4rem;
  }
}

@media (max-width: 992px) {
  #homeContainerBox {
    width: 45rem;
    height: 18.5rem;
  }

  .section1 {
    width: 22rem;
    height: 17rem;
  }

  .heading {
    font-size: 1.8rem;
    height: 3.9rem;
  }

  .heading span {
    height: 1.9rem;
  }

  .heading .ownerName {
    height: 1.9rem;
  }

  .section2 {
    width: 20rem;
    height: 18rem;
  }

  .section2 div {
    width: 20rem;
    height: 18rem;
    border-radius: 0rem 0rem 2.5rem 3rem;
  }
}

@media (max-width: 768px) {
  #homeContainer {
    height: 57rem;
  }

  #homeContainerBox {
    flex-direction: column;
    justify-content: space-between;
    width: 30rem;
    height: 33rem;
  }

  .section1 {
    width: 19rem;
    height: 7rem;
  }

  .heading {
    display: flex;
    flex-direction: column;
    font-size: 2.3rem;
    height: 5rem;
  }

  .heading span {
    height: 2.5rem;
  }

  .heading .ownerName {
    height: 2.5rem;
  }

  .section2 {
    width: 21rem;
    height: 19rem;
  }

  .section2 div {
    width: 21rem;
    height: 19rem;
    border-radius: 0rem 0rem 2.5rem 3.3rem;
  }
}

@media (max-width: 600px) {
  #homeContainer {
    height: 46rem;
  }

  #homeContainerBox {
    flex-direction: column;
    justify-content: space-between;
    width: 25rem;
    height: 32rem;
  }

  .section1 {
    justify-content: center;
    width: 16rem;
    height: 7rem;
  }

  .heading {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    height: 5rem;
  }

  .heading span {
    height: 2.5rem;
  }

  .heading .ownerName {
    height: 2.5rem;
  }

  .section2 {
    width: 19rem;
    height: 17rem;
  }

  .section2 div {
    width: 19rem;
    height: 17rem;
    border-radius: 0rem 0rem 2.5rem 3rem;
  }
}
