* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}

#workContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  top: 3.4rem;
  width: 100%;
  height: fit-content;
}

#workContainerBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 72.1rem;
  height: fit-content;
  padding-top: 4rem;
}

.workHeading {
  color: black;
  font-size: 3.12rem;
  width: 100%;
  height: 3.75rem;
  margin-bottom: 2rem;
}

.allProjectBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

#projectBox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 29rem;
  padding: 1rem;
  /* margin-bottom: 4rem; */
  transition: all 0.5s ease-in-out;
}

#firstWork {
  display: flex;
  align-items: flex-end;
  background: url("../Icons/work_2.jpg") center center/cover;
  box-shadow: 5.2px 5.4px 0px rgb(255 255 255), 24px 25px 0px rgb(229 231 235);
  border-radius: 0rem 1rem 0rem 1rem;
  width: 21rem;
  height: 25rem;
  overflow: hidden;
}

.projectContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 45rem;
  height: 100%;
  padding-top: 1rem;
}

.projectHeading {
  color: #454545;
  font-size: 2.5rem;
  width: 100%;
  height: 3.4rem;
  margin-bottom: 0.5rem;
}

.projectPara {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.projectPara p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  color: #4b5563;
  text-align: justify;
  line-height: 1.43rem;
  width: 100%;
  height: fit-content;
  margin-top: 1rem;
}

.projectPara p > span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #454545;
  background-color: #e5e7eb;
  border-radius: 0rem 0.3rem 0rem 0.3rem;
  font-size: 0.9rem;
  font-weight: 500;
  width: -moz-fit-content;
  width: fit-content;
  height: 2rem;
  padding: 0rem 1rem;
  margin-right: 0.5rem;
  border-bottom: 1px solid #454545;
  border-right: 1px solid #454545;
}

#secondWork {
  display: flex;
  align-items: flex-end;
  background: url("../Icons/work_3.jpg") center center/cover;
  box-shadow: 5.2px 5.4px 0px rgb(255 255 255), 24px 25px 0px rgb(229 231 235);
  border-radius: 0rem 1rem 0rem 1rem;
  width: 21rem;
  height: 25rem;
  overflow: hidden;
  margin-right: 1.5rem;
}

#thirdWork {
  display: flex;
  align-items: flex-end;
  background: url("../Icons/work_1.jpg") center center/cover;
  box-shadow: 5.2px 5.4px 0px rgb(255 255 255), 24px 25px 0px rgb(229 231 235);
  border-radius: 0rem 1rem 0rem 1rem;
  width: 21rem;
  height: 25rem;
  overflow: hidden;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 21rem;
  height: 0rem;
  backdrop-filter: blur(8px);
  background-color: rgb(255 255 255 / 0%);
  overflow: hidden;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}

.project svg {
  width: 1.5rem;
  height: 1.5rem;
  z-index: 1;
}

.project-title {
  color: black;
  font-size: 1.06rem;
  font-weight: 700;
  width: fit-content;
  height: 1.5rem;
  margin-top: 1.5rem;
}

.project-Btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.88rem;
  width: 4.5rem;
  height: 4.5rem;
  background: #454545;
  border-radius: 3rem;
  cursor: pointer;
}

#firstWork:hover .project {
  height: 100%;
}

#secondWork:hover .project {
  height: 100%;
}

#thirdWork:hover .project {
  height: 100%;
}

hr {
  color: #454545;
  width: 100%;
  margin: 2rem 0rem;
}

.seeMoreBtnBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6rem;
  margin-top: 4rem;
  margin-bottom: 9rem;
}

#seeMoreBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #454545;
  background: white;
  width: fit-content;
  height: 2.5rem;
  cursor: pointer;
  padding: 0rem 1.25rem;
}

#seeMoreBtn:hover a > svg {
  width: 0.85rem;
  height: 0.85rem;
  margin-left: 0.5rem;
}

#seeMoreBtn a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #454545;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

#seeMoreBtn a > svg {
  width: 0rem;
  height: 0rem;
  margin-left: 0rem;
  transition: all 0.4s ease, all 0.4s ease;
}

/* Work.css */

.projectBox {
  opacity: 0;
  transform: translateY(10rem);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.projectBox.animate {
  opacity: 1;
  transform: translateY(0);
}


/* Media Query */
@media (max-width: 1200px) {
  #workContainerBox {
    width: 60rem;
  }

  .workHeading {
    width: 60rem;
  }

  .worksBox {
    width: 60rem;
    height: 20.93rem;
  }

  #firstWork {
    width: 17.75rem;
    height: 20.93rem;
  }

  #secondWork {
    width: 17.75rem;
    height: 20.93rem;
  }

  #thirdWork {
    width: 17.75rem;
    height: 20.93rem;
  }

  .project-Btn {
    width: 4.5rem;
    height: 4.5rem;
  }

  #seeMoreBtn {
    font-size: 0.83rem;
    width: 8.6rem;
    height: 2.45rem;
  }

  #seeMoreBtn:hover {
    font-size: 0.84rem;
  }
}

@media (max-width: 992px) {
  #workContainerBox {
    width: 50rem;
    height: 29rem;
  }

  .workHeading {
    font-size: 2.9rem;
    width: 50rem;
  }

  .worksBox {
    width: 50rem;
    height: 17.93rem;
  }

  #firstWork {
    width: 14.75rem;
    height: 17.93rem;
  }

  #secondWork {
    width: 14.75rem;
    height: 17.93rem;
  }

  #thirdWork {
    width: 14.75rem;
    height: 17.93rem;
  }

  .project-Btn {
    width: 4.5rem;
    height: 4.5rem;
  }

  #seeMoreBtn {
    font-size: 0.72rem;
    width: 8.2rem;
    height: 2.3rem;
  }

  #seeMoreBtn:hover {
    font-size: 0.73rem;
  }
}

@media (max-width: 768px) {
  #workContainer {
    height: 75rem;
  }

  #workContainerBox {
    justify-content: space-between;
    width: 23rem;
    height: 70rem;
  }

  .workHeading {
    display: flex;
    justify-content: center;
    font-size: 2.7rem;
    width: 23rem;
    height: 3.4rem;
  }

  .worksBox {
    justify-content: center;
    width: 23rem;
    height: 61rem;
  }

  #firstWork {
    width: 14.75rem;
    height: 17.93rem;
  }

  #secondWork {
    width: 14.75rem;
    height: 17.93rem;
  }

  #thirdWork {
    width: 14.75rem;
    height: 17.93rem;
  }
}

@media (max-width: 600px) {
  #workContainer {
    height: 75rem;
  }

  #workContainerBox {
    justify-content: space-between;
    width: 23rem;
    height: 70rem;
  }

  .workHeading {
    display: flex;
    justify-content: center;
    font-size: 2.7rem;
    width: 23rem;
    height: 3.4rem;
  }

  .worksBox {
    justify-content: center;
    width: 23rem;
    height: 61rem;
  }

  #firstWork {
    width: 14.75rem;
    height: 17.93rem;
  }

  #secondWork {
    width: 14.75rem;
    height: 17.93rem;
  }

  #thirdWork {
    width: 14.75rem;
    height: 17.93rem;
  }
}
