.active {
  color: #d9d6d6;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  overflow-y: unset;
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
